body {
  margin: 0;
  padding: 0;
  border: 0;
  height: 100%;
  width: 100%;
  font-size: 13px;
  font-family: arial, sans-serif;

}
nav ul li {
  display: inline;
  text-decoration: none;
  position: relative;
  margin-right: 15px;
  margin-top: 50px;
}

nav ul li a {
  padding-top: 50px;
  text-decoration: none;
  color:#000;
}

nav ul li a:visited {
  text-decoration:
  none; color:#000;
}

nav ul li a:hover {
  text-decoration: none;
  color:#000;
}

nav ul li a:focus {
  color:#000;
}

nav ul li a:hover {
  text-decoration: underline;
  color:#000;
}



.left-nav {
  float: left;
}

.right-nav {

  float: right;
  position: relative;
  padding-right: .5rem;
  bottom: 8px;
}

.right-nav button {
  position: relative;
  right: 2px;
  color: white;
  padding: 7px;
  background-color: #4285f4;
  font-weight: bold;
  border-radius: 2px;
  border: 0;
}

#menu {
  width: 20px;
  height: 20px;
  opacity: .5;
  position: relative;
  top: 3px;
}

#menu:hover {
  opacity: 1;
}

#logo {
  display: block;
  margin: 0 auto;
  width: 300px;
  height: 200px
  position: static;
  top: 222px;
  left: 0;
right: 0;
}

input {
  position: relative;
  right: 50px;
  bottom: 40px;
  border: 1px solid rgba(0, 0, 0, .1);
  width: 600px;
  height: 40px;
  display: block;
  margin: 0 auto;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, .07);
  border-radius: 3px;
}

input:hover {
  box-shadow: 3px 3px 3px rgba(0, 0, 0, .15);
}

input:focus {
  box-shadow: 3px 3px 3px rgba(0, 0, 0, .15);
}

.buttons button {
  margin: 20px 10px;
  padding: 10px;
}

.l_button {
  display: inline;
}

.r_button {
  display: inline;
}

#bottombar {
    background-color: #f2f2f2;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#bottombar .leftside a {
  float: left;
  display: block;
  color: #black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 13px;
}

#bottombar .rightside a {
  float: right;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 13px;
}

#bottombar a {
  text-decoration: none;
  color:#000;
}

#bottombar a:visited {
  text-decoration:
  none; color:#000;
}

#bottombar a:hover {
  text-decoration: none;
  color:#000;
}

#bottombar a:focus {
  color:#000;
}

#bottombar a:hover {
  text-decoration: underline;
  color:#000;
}
